* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .container {
    width: 100%;
  } */

.dropdown-item:hover {
  color: #000 !important;
}
.banner {
  /* border: 2px solid black; */
  height: 400px;
}

.students-banner {
  background-image: url(img/students.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-content {
  margin-top: 150px;
}
.form-image {
  background-image: url(img/form-new.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

form {
  margin-top: 100px;
}
